.NavCircleButton {
    background-color: #cacaca;
    border-radius: 2px;
    border: 0;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 65px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 65px;
  }
  
  a.NavCircleButton {
    padding: 16px 8px 8px;
  }
  
  .NavCircleButton:hover {
    cursor: pointer;
  }